{% extends 'layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2>Listado de todas las sanciones</h2>
        </div>
        <div>
            <a href="{{ path('sancion_nuevo') }}" class="btn btn-success">
                <i class="fa fa-plus"></i> Nueva sanción</a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <thead class="thead-light">
            <tr>
                <th>Anotación</th>
                <th>Fecha Sanción</th>
                <th>Fecha Comunicación</th>
                <th>Registrado en Séneca?</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for sancion in sanciones %}
                <tr>
                    <td>{{ sancion.anotacion }}</td>
                    <td>{{ sancion.fechaSancion|date("Y-m-d") }}</td>
                    <td>{{ sancion.fechaComunicado|date("Y-m-d") }}</td>
                    <td>{{ sancion.registradoEnSeneca ? 'Si' : 'No' }}</td>
                    <td>
                        <a href="{{ path('sancion_modificar', {'id': sancion.id}) }}">
                            <button type="button" class="btn btn-info">Editar</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>No hay sanciones</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
