{% extends 'layout.html.twig' %}
{% block title %}Modificar Sanción{% endblock %}
{% block content %}
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center border rounded bg-light mb-2 mx-3 p-2">
            {% if sancion.id %}
                <h3>Modificar sancion #{{ sancion.id }}</h3>
            {% else %}
                <h3>Crear nuevo sancion</h3>
            {% endif %}
        </div>
    </div>
    {% if sancion.id %}
        <div class="form-group row">
            <legend class="col-form-label col-sm-2 col-form-label required">Parte</legend>
            <div class="col-sm-10">
                <div class="form-inline">
                    {% set parte = parteRepository.findPartePorSancion(sancion)|join(', ') %}
                    <input type="text" disabled class="form-control col-12" value="{% if parte %}{{ parte }}{% else %}Ninguno{% endif %}">
                </div>
            </div>
        </div>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row">
        {% if sancion.id %}
            <div class="col-sm-2">
                <a href="{{ path('sancion_eliminar', {'id': sancion.id}) }}">
                    <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</button>
                </a>
            </div>
        {% else %}
        {% endif %}
        <div class="col-sm-10">
            <a href="{{ path('sancion_listar') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver</a>
            <button type="submit" id="modificar_sancion_enviar" name="guardar" class="btn-primary btn">
                <i class="fa fa-check"></i> Guardar
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}