{% extends 'layout.html.twig' %}
{% block title %}Listado de Comunicaciones de Sanción{% endblock %}
{% block content %}
    <div class="row p-1">
        <div class="col-12 col-lg-7 justify-content-start p-0">
            <h4>Listado de todas las comunicaciones de sanción</h4>
        </div>
        <div class="col-12 col-lg-5 d-flex justify-content-start justify-content-lg-end align-items-center p-0">
            <a href="{{ path('comunicacion_sancion_nuevo') }}" class="btn btn-success">
                <i class="fa fa-plus"></i> Nueva comunicación de sanción</a>
        </div>
    </div>

    <div class="row p-1">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <thead class="thead-light">
            <tr>
                <th class="align-middle">Anotación</th>
                <th class="align-middle">Fecha</th>
                <th class="align-middle">Asignada a la sanción</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for comunicacionSancion in pagination %}
                <tr>
                    <td class="align-middle">{{ comunicacionSancion.anotacion }}</td>
                    <td class="align-middle">{{ comunicacionSancion.fecha|date("Y-m-d") }}</td>
                    <td class="align-middle">{{ comunicacionSancion.sancion }}</td>
                    <td class="align-middle">
                        <a href="{{ path('comunicacion_sancion_modificar', {'id': comunicacionSancion.id}) }}">
                            <button type="button" class="btn btn-info">Editar</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="align-middle">No hay comunicaciones de sanción</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

