{% extends 'layout.html.twig' %}
{% block title %}Listado de Medidas{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2>Listado de todas las medidas</h2>
        </div>
        <div>
            <a href="{{ path('medida_nuevo') }}" class="btn btn-success">
                <i class="fa fa-plus"></i> Nueva medida</a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <thead class="thead-light">
            <tr>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Dias</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for medida in medidas %}
                <tr>
                    <td>{{ medida.nombre }}</td>
                    <td>{{ medida.categoria }}</td>
                    <td>{{ medida.dias }}</td>
                    <td>
                        <a href="{{ path('medida_modificar', {'id': medida.id}) }}">
                            <button type="button" class="btn btn-info">Editar</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>No hay medidas</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
