{% extends 'layout.html.twig' %}
{% block title %}Listado de Grupos{% endblock %}
{% block content %}
    <div class="row px-3 py-1">
        <div class="col-12 col-lg-7 justify-content-start p-0">
            {% if cursoActual %}
                <h4>Listado de los grupos del curso {{ cursoAcademicoRepository.findActivo }}</h4>
            {% else %}
                <h4>Listado de todos los grupos</h4>
            {% endif %}
        </div>
        <div class="col-12 col-lg-5 d-flex justify-content-start justify-content-lg-end align-items-center p-0">
            {% if cursoActual %}
                <a href="{{ path('grupo_listar') }}" class="btn btn-secondary">
                    <i class="fa fa-list"></i> Todos los grupos</a>
            {% else %}
                <a href="{{ path('grupo_listar_curso_actual') }}" class="btn btn-secondary">
                    <i class="fa fa-list"></i> Grupos del curso {{ cursoAcademicoRepository.findActivo }}</a>
            {% endif %}
            <a href="{{ path('grupo_nuevo') }}" class="btn btn-success ml-2">
                <i class="fa fa-plus"></i> Nuevo grupo</a>
        </div>
    </div>

    <div class="row px-3 py-1">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <thead class="thead-light">
            <tr>
                <th class="align-middle">Nombre</th>
                <th class="align-middle">Descripción</th>
                <th class="align-middle">Curso Académico</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for grupo in pagination %}
                <tr>
                    <td class="align-middle">{{ grupo.nombre }}</td>
                    <td class="align-middle">{{ grupo.descripcion }}</td>
                    <td class="align-middle">{{ grupo.cursoAcademico }}</td>
                    <td class="align-middle">
                        <a href="{{ path('grupo_modificar', {'id': grupo.id}) }}">
                            <button type="button" class="btn btn-info">Editar</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="align-middle">No hay grupos</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

