{% extends 'layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2>Listado de todos los partes</h2>
        </div>
        <div>
            <a href="{{ path('parte_nuevo') }}" class="btn btn-success">
                <i class="fa fa-plus"></i> Nuevo parte</a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <thead class="thead-light">
            <tr>
                <th>Creado por</th>
                <th>Asignado a</th>
                <th>Sancion</th>
                <th>Anotacion</th>
                <th>Fecha de Creacion</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for parte in partes %}
                <tr>
                    <td>{{ parte.docente }}</td>
                    <td>{{ parte.estudiante }}</td>
                    <td>{{ parte.sancion }}</td>
                    <td>{{ parte.anotacion }}</td>
                    <td>{{ parte.fechaCreacion|date("Y-m-d") }}</td>
                    <td>
                        <a href="{{ path('parte_modificar', {'id': parte.id}) }}">
                            <button type="button" class="btn btn-info">Editar</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>No hay partes</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
