{% extends 'layout.html.twig' %}
{% block title %}Listado de Partes{% endblock %}
{% block content %}
    <div class="row px-3 py-1">
        <div class="col-12 col-lg-7 justify-content-start p-0">
            <h4>Listado de todos los partes</h4>
        </div>
        <div class="col-12 col-lg-5 d-flex justify-content-start justify-content-lg-end align-items-center p-0">
            <a href="{{ path('parte_nuevo') }}" class="btn btn-success">
                <i class="fa fa-plus"></i> Nuevo parte</a>
        </div>
    </div>

    <div class="row px-3 py-1">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <thead class="thead-light">
            <tr>
                <th class="align-middle">Creado por</th>
                <th class="align-middle">Asignado a</th>
                <th class="align-middle">Fecha de Creación</th>
                <th class="align-middle"></th>
            </tr>
            </thead>
            <tbody>
            {% for parte in pagination %}
                <tr>
                    <td class="align-middle">{{ parte.docente }}</td>
                    <td class="align-middle">{{ parte.estudiante }}</td>
                    <td class="align-middle">{{ parte.fechaCreacion|date("Y-m-d") }}</td>
                    <td class="align-middle">
                        <a href="{{ path('parte_modificar', {'id': parte.id}) }}">
                            <button type="button" class="btn btn-info">Editar</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="align-middle">No hay partes</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
