{% extends 'layout.html.twig' %}
{% block title %}Modificar Actitud De Familia{% endblock %}
{% block content %}
    {% if actitud_familia.id %}
        <h1>Modificar actitud de familia: {{ actitud_familia.id }}</h1>
    {% else %}
        <h1>Crear nueva actitud de familia</h1>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row">
        {% if actitud_familia.id %}
            <div class="col-sm-2">
                <a href="{{ path('actitud_familia_eliminar', {'id': actitud_familia.id}) }}">
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </a>
            </div>
        {% else %}
        {% endif %}
        <div class="col-sm-10">
            <a href="{{ path('actitud_familia_listar') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver</a>
            <button type="submit" id="modificar_actitud_familia_enviar" name="guardar" class="btn-primary btn">
                <i class="fa fa-check"></i> Guardar
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}