{% extends 'layout.html.twig' %}
{% block title %}Listado de Observaciones de Sanción{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <h4>Listado de todas las observaciones de sanción</h4>
        </div>
        <div>
            <a href="{{ path('observacion_sancion_nuevo') }}" class="btn btn-success">
                <i class="fa fa-plus"></i> Nueva observación de sancion</a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <thead class="thead-light">
            <tr>
                <th>Anotación</th>
                <th>Fecha</th>
                <th>Asignado a sanción</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for observacionSancion in observacionesSanciones %}
                <tr>
                    <td>{{ observacionSancion.anotacion }}</td>
                    <td>{{ observacionSancion.fecha|date("Y-m-d") }}</td>
                    <td>{{ observacionSancion.sancion }}</td>
                    <td>
                        <a href="{{ path('observacion_sancion_modificar', {'id': observacionSancion.id}) }}">
                            <button type="button" class="btn btn-info">Editar</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>No hay observaciones de sanción</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
