{% extends 'layout.html.twig' %}
{% block title %}Modificar Observación de Sanción{% endblock %}
{% block content %}
    {% if observacionSancion.id %}
        <h1>Modificar la observación de sanción: {{ observacionSancion.id }}</h1>
    {% else %}
        <h1>Crear nueva observación de sanción</h1>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row">
        {% if observacionSancion.id %}
            <div class="col-sm-2">
                <a href="{{ path('observacion_sancion_eliminar', {'id': observacionSancion.id}) }}">
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </a>
            </div>
        {% else %}
        {% endif %}
        <div class="col-sm-10">
            <a href="{{ path('observacion_sancion_listar') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i>
                Volver</a>
            <button type="submit" id="modificar_observacion_sancion_enviar" name="guardar" class="btn-primary btn">
                <i class="fa fa-check"></i> Guardar
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}