{% extends 'layout.html.twig' %}
{% block title %}Modificar Categoría de Medida{% endblock %}
{% block content %}
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center border rounded bg-light mb-2 mx-3 p-2">
            {% if categoriaMedida.id %}
                <h3>Modificar categoría de medida #{{ categoriaMedida.id }}</h3>
            {% else %}
                <h3>Crear nueva categoría de medida</h3>
            {% endif %}
        </div>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row">
        {% if categoriaMedida.id %}
            <div class="col-sm-2">
                <a href="{{ path('categoria_medida_eliminar', {'id': categoriaMedida.id}) }}">
                    <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</button>
                </a>
            </div>
        {% else %}
        {% endif %}
        <div class="col-sm-10">
            <a href="{{ path('categoria_medida_listar') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver</a>
            <button type="submit" id="modificar_categoria_medida_enviar" name="guardar" class="btn-primary btn">
                <i class="fa fa-check"></i> Guardar
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}