{% extends 'layout.html.twig' %}
{% block title %}Listado de Tipos de Comunicación{% endblock %}
{% block content %}
    <div class="row">
        <div class="col mb-2">
            {% if cursoActual %}
                <h3>Listado de los tipos de comunicación del curso {{ cursoAcademicoRepository.findActivo }}</h3>
            {% else %}
                <h3>Listado de todos los tipos de comunicación</h3>
            {% endif %}
        </div>
        <div>
            {% if cursoActual %}
                <a href="{{ path('tipo_comunicacion_listar') }}" class="btn btn-secondary">
                    <i class="fa fa-list"></i> Todos los tipos</a>
            {% else %}
                <a href="{{ path('tipo_comunicacion_listar_curso_actual') }}" class="btn btn-secondary">
                    <i class="fa fa-list"></i> Tipos del curso {{ cursoAcademicoRepository.findActivo }}</a>
            {% endif %}
            <a href="{{ path('tipo_comunicacion_nuevo') }}" class="btn btn-success">
                <i class="fa fa-plus"></i> Nuevo tipo</a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <thead class="thead-light">
            <tr>
                <th>Descripción</th>
                <th>Curso Académico</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for tipoComunicacion in tiposComunicaciones %}
                <tr>
                    <td>{{ tipoComunicacion.descripcion }}</td>
                    <td>{{ tipoComunicacion.cursoAcademico }}</td>
                    <td>
                        <a href="{{ path('tipo_comunicacion_modificar', {'id': tipoComunicacion.id}) }}">
                            <button type="button" class="btn btn-info">Editar</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>No hay tipos de comunicaciones</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
