{% extends 'layout.html.twig' %}
{% block title %}Listado de Tipos de Comunicación{% endblock %}
{% block content %}
    <div class="row p-1">
        <div class="col-12 col-lg-7 justify-content-start p-0">
            {% if cursoActual %}
                <h2>Listado de los tipos de comunicación del curso {{ cursoAcademicoRepository.findActivo }}</h2>
            {% else %}
                <h2>Listado de todos los tipos de comunicación</h2>
            {% endif %}
        </div>
        <div class="col-12 col-lg-5 d-flex justify-content-start justify-content-lg-end align-items-center p-0">
            {% if cursoActual %}
                <a href="{{ path('tipo_comunicacion_listar') }}" class="btn btn-secondary">
                    <i class="fa fa-list"></i> Todos los tipos</a>
            {% else %}
                <a href="{{ path('tipo_comunicacion_listar_curso_actual') }}" class="btn btn-secondary">
                    <i class="fa fa-list"></i> Tipos del curso {{ cursoAcademicoRepository.findActivo }}</a>
            {% endif %}
            <a href="{{ path('tipo_comunicacion_nuevo') }}" class="btn btn-success ml-2">
                <i class="fa fa-plus"></i> Nuevo tipo</a>
        </div>
    </div>

    <div class="row p-1">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <thead class="thead-light">
            <tr>
                <th class="align-middle">Descripción</th>
                <th class="align-middle">Curso Académico</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for tipoComunicacion in pagination %}
                <tr>
                    <td class="align-middle">{{ tipoComunicacion.descripcion }}</td>
                    <td class="align-middle">{{ tipoComunicacion.cursoAcademico }}</td>
                    <td class="align-middle">
                        <a href="{{ path('tipo_comunicacion_modificar', {'id': tipoComunicacion.id}) }}">
                            <button type="button" class="btn btn-info">Editar</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="align-middle">No hay tipos de comunicaciones</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
