<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Título{% endblock %}</title>

    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap-4.6.2/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('fontawesome-free-6.4.0-web/css/all.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap-toggle-master/css/bootstrap-toggle.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css') }}"/>

        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
        <script src="{{ asset('jquery-3.6.3/jquery.min.js') }}"></script>
        <script src="{{ asset('popper-1.16.1/popper.min.js') }}"></script>
        <script src="{{ asset('bootstrap-4.6.2/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bootstrap-toggle-master/js/bootstrap-toggle.min.js') }}"></script>
        <script src="{{ asset('bootstrap-select-1.13.14/js/bootstrap-select.js') }}"></script>
    {% endblock %}
</head>
<body style="padding-top: 3.8em">
{% block body %}{% endblock %}
</body>
</html>
