{% extends 'layout.html.twig' %}
{% block title %}Gestión de Convivencia+{% endblock %}
{% block inicio %}
    <div class="row inicio justify-content-center">

        <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
            <div class="card">
                <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                   href="{{ path('parte_nuevo') }}">
                    <i class="card-icon fa-solid fa-pen-to-square pb-3"></i>
                </a>
                <div class="card-header px-3">
                    <div class="font-weight-bold">Registrar un nuevo parte</div>
                    <div class="texto-card-footer">Dirigido a uno o varios estudiantes</div>
                </div>
            </div>
        </div>
        <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
            <div class="card">
                <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                   href="{{ path('estudiantes_listar_notificables') }}">
                    <i class="card-icon fa-solid fa-envelope pb-3"></i>
                </a>
                <div class="card-header px-3">
                    <div class="font-weight-bold">Notificar un parte a la familia</div>
                    <div class="texto-card-footer">Tienes <b>{{ parteRepository.findNoNotificadosPorDocente(usuario)|length }}</b> partes propios pendientes por notificar</div>
                </div>
            </div>
        </div>

        <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
            <div class="card">
                <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                   href="{% if is_granted('ROLE_DIRECTIVO') %}{{ path('parte_listar') }}{% else %}{{ path('parte_listar_propios', {'id': app.user.id}) }}{% endif %}">
                    <i class="card-icon fa-solid fa-rectangle-list pb-3"></i>
                </a>
                <div class="card-header px-3">
                    <div class="font-weight-bold">Gestionar los partes</div>
                    <div class="texto-card-footer">Permite modificarlos o añadir observaciones</div>
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_COMISIONARIO') %}
            <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
                <div class="card">
                    <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                       href="{{ path('estudiantes_listar_sancionables') }}">
                        <i class="card-icon fa-solid fa-gavel pb-3"></i>
                    </a>
                    <div class="card-header px-3">
                        <div class="font-weight-bold">Revisar y sancionar</div>
                        <div class="texto-card-footer">Hay <b>{{ parteRepository.findAllSancionablesDeEstudiantesDelCursoActual|length }}</b> partes sancionables pendientes de revisar</div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_DIRECTIVO') %}
            <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
                <div class="card">
                    <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                       href="{{ path('grupo_listar_curso_actual') }}">
                        <i class="card-icon fa-solid fa-layer-group pb-3"></i>
                    </a>
                    <div class="card-header px-3">
                        <div class="font-weight-bold">Grupos y niveles del centro</div>
                        <div class="texto-card-footer">Muestra información general sobre los grupos</div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_COMISIONARIO') %}
            <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
                <div class="card">
                    <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                       href="{{ path('sancion_listar') }}">
                        <i class="card-icon fa-solid fa-list-check pb-3"></i>
                    </a>
                    <div class="card-header px-3">
                        <div class="font-weight-bold">Gestionar las sanciones</div>
                        <div class="texto-card-footer">Permite modificarlas o añadir observaciones</div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_TUTOR') %}
            <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
                <div class="card">
                    <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                       href="{{ path('estudiantes_listar_sanciones_notificables') }}">
                        <i class="card-icon fa-solid fa-flag pb-3"></i>
                    </a>
                    <div class="card-header px-3">
                        <div class="font-weight-bold">Notificar una sanción a la familia</div>
                        <div class="texto-card-footer">Hay <b>{{ estudianteRepository.findAllEstudiantesDeGruposDelCursoActualConSancionesNoNotificadas|length }}</b> estudiantes pendientes de notificar</div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_DIRECTIVO') %}
            <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
                <div class="card">
                    <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                       href="{{ path('estudiante_listar_grupo_curso_actual') }}">
                        <i class="card-icon fa-solid fa-users-line pb-3"></i>
                    </a>
                    <div class="card-header px-3">
                        <div class="font-weight-bold">Alumnado del centro</div>
                        <div class="texto-card-footer">Gestionar el alumnado del centro</div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_TUTOR') %}
            <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
                <div class="card">
                    <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                       href="{{ path('estudiante_listar') }}">
                        <i class="card-icon fa-solid fa-people-roof pb-3"></i>
                    </a>
                    <div class="card-header px-3">
                        <div class="font-weight-bold">Alumnado de mi tutoria</div>
                        <div class="texto-card-footer">Permite mostrar información sobre el grupo</div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if is_granted('ROLE_DIRECTIVO') %}
            <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
                <div class="card">
                    <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                       href="{{ path('docente_listar') }}">
                        <i class="card-icon fa-solid fa-building-user pb-3"></i>
                    </a>
                    <div class="card-header px-3">
                        <div class="font-weight-bold">Usuarios del centro</div>
                        <div class="texto-card-footer">Permite mostrar información sobre los usuarios</div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_DIRECTIVO') %}
            <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
                <div class="card">
                    <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                       href="{{ path('curso_academico_listar') }}">
                        <i class="card-icon fa-solid fa-calendar-alt pb-3"></i>
                    </a>
                    <div class="card-header px-3">
                        <div class="font-weight-bold">Cursos académicos</div>
                        <div class="texto-card-footer">Muestra el listado de los cursos académicos y permite modificarlos</div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_DIRECTIVO') %}
            <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
                <div class="card">
                    <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                       href="{{ path('actitud_familia_listar') }}">
                        <i class="card-icon fa-solid fa-face-smile pb-3"></i>
                    </a>
                    <div class="card-header px-3">
                        <div class="font-weight-bold">Actitudes de familia</div>
                        <div class="texto-card-footer">Permite crear y modificar las actitudes de familia</div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_DIRECTIVO') %}
            <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
                <div class="card">
                    <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                       href="{{ path('tipo_comunicacion_listar') }}">
                        <i class="card-icon fa-solid fa-tower-cell pb-3"></i>
                    </a>
                    <div class="card-header px-3">
                        <div class="font-weight-bold">Tipos de comunicación</div>
                        <div class="texto-card-footer">Permite crear y modificar los tipos de comunicación</div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_DIRECTIVO') %}
            <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
                <div class="card">
                    <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                       href="{{ path('categoria_conducta_contraria_listar') }}">
                        <i class="card-icon fa-solid fa-table-list pb-3"></i>
                    </a>
                    <div class="card-header px-3">
                        <div class="font-weight-bold">Categorías de conductas contrarias</div>
                        <div class="texto-card-footer">Permite crear y modificar las categorías de conductas contrarias</div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_DIRECTIVO') %}
            <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
                <div class="card">
                    <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                       href="{{ path('tramo_listar') }}">
                        <i class="card-icon fa-solid fa-clock pb-3"></i>
                    </a>
                    <div class="card-header px-3">
                        <div class="font-weight-bold">Tramos</div>
                        <div class="texto-card-footer">Permite crear y modificar los tramos</div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_DIRECTIVO') %}
            <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
                <div class="card">
                    <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                       href="{{ path('medida_listar') }}">
                        <i class="card-icon fa-solid fa-folder-open pb-3"></i>
                    </a>
                    <div class="card-header px-3">
                        <div class="font-weight-bold">Medidas</div>
                        <div class="texto-card-footer">Permite crear y modificar las medidas</div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_DIRECTIVO') %}
            <div class="card-inicio col-12 col-sm-6 col-md-4 col-lg-3 px-5 px-sm-3 mb-4">
                <div class="card">
                    <a class="text-decoration-none card-body d-flex flex-column align-items-center justify-content-center"
                       href="{{ path('categoria_medida_listar') }}">
                        <i class="card-icon fa-solid fa-square-xmark pb-3"></i>
                    </a>
                    <div class="card-header px-3">
                        <div class="font-weight-bold">Categorías de medidas</div>
                        <div class="texto-card-footer">Permite crear y modificar las categorías de medidas</div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}