{% extends 'base.html.twig' %}
{% block body %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="{{ path('inicio') }}"> GESTCONV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="ml-auto d-inline my-lg-0">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="#" class="btn btn-outline-info">Mis Datos</a>
                    <a class="btn btn-outline-secondary"
                       href="{{ path('docente_cambiar_clave', {'id': app.user.id}) }}">
                        <i class="fa-solid fa-key"></i> Cambiar Contraseña</a>
                    <a href="{{ path('logout') }}" class="btn btn-outline-dark">Salir</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        {% for mensaje in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible fade show">
                {{ mensaje }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% for mensaje in app.flashes('exito') %}
            <div class="alert alert-success alert-dismissible fade show">
                {{ mensaje }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
    <div class="container-fluid px-5">
        {% block inicio %}{% endblock %}
    </div>

{% endblock %}
