{% extends 'layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col mb-2">
            {% if cursoActual %}
                <h2>Listado de las categorías del curso {{ curso }}</h2>
            {% else %}
                <h2>Listado de todas las categorías</h2>
            {% endif %}
        </div>
        <div> {% if cursoActual %}
                <a href="{{ path('categoria_conducta_contraria_listar') }}" class="btn btn-secondary">
                    <i class="fa fa-list"></i> Todas las categorías</a>
            {% else %}
                <a href="{{ path('categoria_conducta_contraria_listar_curso_actual') }}" class="btn btn-secondary">
                    <i class="fa fa-list"></i> Categorías del curso {{ curso }}</a>
            {% endif %}
            <a href="{{ path('categoria_conducta_contraria_nuevo') }}" class="btn btn-success">
                <i class="fa fa-plus"></i> Nueva categoría de conducta contraria</a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <thead class="thead-light">
            <tr>
                <th class="align-middle">Descripción</th>
                <th class="align-middle">Prioritaria</th>
                <th class="align-middle">Curso Académico</th>
                <th class="align-middle"></th>
            </tr>
            </thead>
            <tbody>
            {% for categoriaConductaContraria in categoriasConductasContrarias %}
                <tr>
                    <td class="align-middle">{{ categoriaConductaContraria.descripcion }}</td>
                    <td class="align-middle">{{ categoriaConductaContraria.prioritaria ? 'Si' : 'No' }}</td>
                    <td class="align-middle">{{ categoriaConductaContraria.cursoAcademico }}</td>
                    <td class="align-middle">
                        <a href="{{ path('categoria_conducta_contraria_modificar', {'id': categoriaConductaContraria.id}) }}">
                            <button type="button" class="btn btn-info">Editar</button>
                        </a>
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td class="align-middle">No hay categorías de conductas contrarias</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

