{% extends 'layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2>Listado de todos los docentes</h2>
        </div>
        <div>
            <a href="{{ path('docente_nuevo') }}" class="btn btn-success">
                <i class="fa fa-plus"></i> Nuevo docente</a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <thead class="thead-light">
            <tr>
                <th>Nombre y Apellidos</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for docente in docentes %}
                <tr>
                    <td>{{ docente.nombre }} {{ docente.apellido1 }} {{ docente.apellido2 }}</td>
                    <td>
                        <a href="{{ path('docente_modificar', {'id': docente.id}) }}">
                            <button type="button" class="btn btn-info">Editar</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>No hay docentes</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

