{% extends 'layout.html.twig' %}
{% block title %}Modificar Docente{% endblock %}
{% block content %}
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center border rounded bg-light mb-2 mx-3 p-2">
            {% if docente.id and is_granted('ROLE_DIRECTIVO') and (docente.id != app.user.id) %}
                <h3>Modificar docente #{{ docente.id }}</h3>
            {% elseif (docente.id and not is_granted('ROLE_DIRECTIVO')) or (docente.id == app.user.id) %}
                <h3>Mis datos</h3>
            {% else %}
                <h3>Crear nuevo docente</h3>
            {% endif %}
        </div>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row">
        {% if docente.id and is_granted('ROLE_DIRECTIVO') and (docente.id != app.user.id ) %}
            <div class="col-sm-2">
                <a href="{{ path('docente_eliminar', {'id': docente.id}) }}">
                    <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</button>
                </a>
            </div>
        {% endif %}
        <div class="col">
            <a href="{% if is_granted('ROLE_DIRECTIVO') %}{{ path('docente_listar') }}{% else %}{{ path('inicio') }}{% endif %}"
               class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver</a>
            <button type="submit" id="modificar_docente_enviar" name="guardar" class="btn-primary btn">
                <i class="fa fa-check"></i> Guardar
            </button>
            {% if is_granted('ROLE_DIRECTIVO') %}
                <a class="btn btn-secondary"
                   href="{{ path('docente_cambiar_clave', {'id': docente.id}) }}">
                    <i class="fa-solid fa-key"></i> Cambiar Contraseña
                </a>
            {% else %}
                <a class="btn btn-secondary"
                   href="{{ path('docente_cambiar_clave', {'id': app.user.id}) }}">
                    <i class="fa-solid fa-key"></i> Cambiar mi contraseña
                </a>
            {% endif %}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}