{% extends 'layout.html.twig' %}
{% block title %}Notificar sanciones del estudiante{% endblock %}
{% block content %}
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center border rounded bg-light mb-2 mx-3 p-2">
            <h4 class="text-center align-middle">Notificar sanciones del estudiante: <b>{{ estudiante.apellido1 }} {{ estudiante.apellido2 }} {{ estudiante.nombre }}({{ estudiante.grupos|join(', ') }})</b></h4>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="form-group border-bottom border-light">
        {% if form.sancion|length > 1 %}
            <div class="col-12 ml-4">
                <label class="checkbox-bootstrap checkbox-lg">
                    <input type="checkbox" onChange="marcarDesmarcarTodos(this)">
                    <span class="checkbox-placeholder"></span>
                </label> Marcar/desmarcar todas las sanciones
            </div>
        {% endif %}
        <div class="col-12">
            <div class="accordion" id="accordionHistoricoSanciones">
                {% for sancion in form.sancion %}
                    {% set marcar = sancion.vars %}
                    {% set sancionDetallada = sancionRepository.findOneById(sancion.vars.value)[0] %}
                    {% include 'sancion/sancion_partial_para_notificar.html.twig' %}
                {% else %}
                    <div class="d-flex align-items-center justify-content-center"><h3>No hay sanciones pendientes</h3></div>
                {% endfor %}
                {{ form_errors(form.sancion) }}
            </div>
        </div>
    </div>
    {% do form.sancion.setRendered %}
    {{ form_widget(form) }}
    <div class="row">
        <div class="col">
            <a href="{{ path('estudiantes_listar_sanciones_notificables') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver</a>
            <button type="submit" id="modificar_parte_enviar" name="guardar" class="btn-warning btn">
                <i class="fa fa-bell"></i> Notificar
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function marcarDesmarcarTodos(e) {
            if (!jQuery(e).prop('checked')) {
                jQuery('.casilla').prop('checked', false);
            } else {
                jQuery('.casilla').prop('checked', true);
            }
        }
    </script>
{% endblock %}