{% extends 'layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2>Listado de todos los estudiantes</h2>
        </div>
        <div>
            <a href="{{ path('estudiante_nuevo') }}" class="btn btn-success">
                <i class="fa fa-plus"></i> Nuevo estudiante</a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <thead class="thead-light">
            <tr>
                <th>Nombre y Apellidos</th>
                <th>Telefono 1</th>
                <th>Telefono 2</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for estudiante in estudiantes %}
                <tr>
                    <td>{{ estudiante.nombre }} {{ estudiante.apellido1 }} {{ estudiante.apellido2 }}</td>
                    <td>{{ estudiante.telefono1 }}</td>
                    <td>{{ estudiante.telefono2 }}</td>
                    <td>
                        <a href="{{ path('estudiante_modificar', {'id': estudiante.id}) }}">
                            <button type="button" class="btn btn-info">Editar</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>No hay estudiantes</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

