{% extends 'layout.html.twig' %}
{% block content %}
    {% if estudiante.id %}
        <h1>Modificar estudiante: {{ estudiante.id }}</h1>
    {% else %}
        <h1>Crear nuevo estudiante</h1>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row">
        {% if estudiante.id %}
                <div class="col-sm-2">
                    <a href="{{ path('estudiante_eliminar', {'id': estudiante.id}) }}">
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </a>
                </div>
        {% else %}
        {% endif %}
        <div class="col-sm-10">
            <a href="{{ path('estudiante_listar') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver</a>
            <button type="submit" id="modificar_estudiante_enviar" name="guardar" class="btn-primary btn">
                <i class="fa fa-check"></i> Guardar
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}