{% extends 'layout.html.twig' %}
{% block title %}Listado de Cursos Académicos{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2>Listado de todos los cursos académicos</h2>
        </div>
        <div>
            <a href="{{ path('curso_academico_nuevo') }}" class="btn btn-success">
                <i class="fa fa-plus"></i> Nuevo curso académico</a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <thead class="thead-light">
            <tr>
                <th>Descripción</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for curso_academico in cursos_academicos %}
                <tr>
                    <td>{{ curso_academico.descripcion }}</td>
                    <td>{{ curso_academico.fechaInicio|date("Y-m-d") }}</td>
                    <td>{{ curso_academico.fechaFin|date("Y-m-d") }}</td>
                    <td>
                        <a href="{{ path('curso_academico_modificar', {'id': curso_academico.id}) }}">
                            <button type="button" class="btn btn-info">Editar</button>
                        </a>
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td>No hay cursos académicos</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

